# compiled sources #
####################


# output files #
################
*.md
*.html


# packages #
############


# directories #
###############
.ipynb_checkpoints/
Basic01_Ambiguity_function_files/
